.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px 20px;
    background-color: #181a1f;
    color: white;
    gap: 20px;
}

.About-me {
    max-width: 600px;
}

@media screen and (max-width: 768px) {
    .About-me {
        max-width: 80%;
    }
}

.Song-image {
    margin-top: -10px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    height: auto;
    border-radius: 10px;
    border-style: none;

}

.Song-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-top: -40px;
}

.Song-link {
    font-weight: 400;
    color:rgba(55, 119, 255, 1);
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    border-bottom: 2px dashed rgba(55, 119, 255, 1);
    text-decoration: none;
}

.Song-link:hover {
    color: #22d5d2ff;
}

.Song-image-a {
    border: none;
}