@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color:rgba(55, 119, 255, 1);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  border-bottom: 2px dashed rgba(55, 119, 255, 1);
}
a:hover {
    color: #22d5d2ff;
}

.fade-in {
  animation: fade-in ease 1s;
  -webkit-animation: fade-in ease 1s;
  -moz-animation: fade-in ease 1s;
  -o-animation: fade-in ease 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}