.Socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.Socials > a {
    color: #bbbbbb;
    font-size: 2rem;
    transform: scale(1);
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.Socials > a:hover {
    color: #ffffff;
    transform: scale(1.12);
    border-color: #bbbbbb;
}

.Socials.Platform-socials {
    margin-top: 0;
    gap: 40px;
}
.Socials.Platform-socials > a {
    font-size: 3rem;
}

.Headers {
    margin-top: -30px;
}

.Headers > a {
    font-size: 3.5rem;
}

.Headers > span {
    font-style: italic;
}


.Spotify-social:hover {
    color: #1db954 !important;
    border-color: #1db954 !important;
}

.YouTube-music-social:hover {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
}

.Apple-music-social:hover {
    color: #ff2d55 !important;
    border-color: #ff2d55 !important;
}

.Amazon-music-social:hover {
    color: #25D1DA !important;
    border-color: #25D1DA !important;
}

.Deezer-social:hover {
    color: #000000 !important;
    border-color: #000000 !important;
}


@media screen and (max-width: 1024px) {
    .Headers > a {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 860px) {
    .Headers > a {
        font-size: 2rem;
    }
}

@media screen and (max-width: 660px) {
    .Headers > a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .Headers > a {
        font-size: 2rem;
    }

    .Socials.Platform-socials > a {
        font-size: 2.2rem;
    }

    .Headers > a > span {
        font-size: 1rem;
        margin-top: -8px;
        display: block;
        font-style: italic;
    }
}