.Song {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.5rem;
    cursor: pointer;
    gap: 1rem;
    border: none;
    height: fit-content;
}

.Song > a {
    border: none;
}

.Song h2 {
    margin-top: 0;
}

.Song img {
    width: 30rem;
    height: 30rem;
    border-radius: 0.5rem;
    object-fit: cover;
    aspect-ratio: 1/1 !important;
}

.Song-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    padding: 0.5rem;
    border: none;
    background-color: #181a1f;
}

@media screen and (max-width: 768px) {
    .Song img {
        width: 20rem;
        height: 20rem;
    }
}